.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 390px; /* iPhone 14の最大幅を考慮 */
  margin: 0 auto;
  display: flex;
  justify-content: space-around; /* 均等に配置 */
  background-color: #f8f9fa;
  padding: 10px 0; /* パディングを調整 */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-icons {
  display: flex;
  width: 100%;
  justify-content: space-around; /* 均等に配置 */
}

.footer-button {
  background: none;
  border: none;
  color: #333;
  font-size: 24px; /* アイコンサイズを調整 */
  cursor: pointer;
  transition: color 0.3s;
  flex-grow: 1; /* アイコンを均等に配置 */
  text-align: center; /* アイコンを中央に配置 */
  padding: 10px 0; /* パディングを調整 */
}

.footer-button:hover {
  color: #007bff;
}

.signout-button {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  padding: 8px 8px; /* パディングを微調整 */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signout-button:hover {
  background-color: #007bff;
  color: #fff;
}